* {
    margin: 0;
    box-sizing: border-box;
}

/* Navigation Bar */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cormorant Garamond', serif;
    position: relative;
    height: 100%;
    /* font-family: 'Varela Round', sans-serif; */
}

header {
    background-color: #fffee6;
    position: relative;
    vertical-align: middle;
    width: 100%;
    height: 80px;
    box-shadow: 0 0 10px 0 #a5a144;
    margin-bottom: 50px;
}

header img {
    height: 100%;
    float: left;
}

header * {
    display: inline-block;
}

ul {
    float: right;
    margin-right: 50px;
    height: 100%;
}

header li {
    height: 100%;
}

header a {
    height: 100%;
    padding: 30px 20px 20px 20px;
}

header li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

/* -- End of Navigation Bar */

/* Home Page Mission Statement Banner */

.bannerWrapper {    
    height: 600px;
    padding-top: 60px;
    background: linear-gradient(to top, #9085c291, #c56b6b86), url('../images/townhouses.jpg');
    background-position: 50% 30%; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.bannerContent {
    height: 100%;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2px 2px 2px black;

}

.bannerContent h1 {
    font-size: 5.4rem;
    margin-top: 150px;
    font-weight: bolder;
    color: white;
}

.bannerContent p {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.bannerContent p, h1 {
    text-align: center;    
    overflow-wrap: break-word;
    line-height: 1.4;
}

/* -- End Home Page Mission Statement Banner */

/* Content Separater */
hr.baseBreak {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    width: 80%;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(31, 30, 30, 0.75), rgba(0, 0, 0, 0));
}

/* Main Image Content */


.mainContainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 80%;
    font-size: 20px;
    position: relative;    
}

.mainContainer div {
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
    padding: 65px 25px 65px 25px;
    overflow: auto; /* Allows Image to float right inside the div without breaking*/
}

.mainContainer div:nth-child(odd){
    background-color: #f2f2f262;
}

.ourStory {
    text-align: center;
}

.ourStory p {
    margin: 50px 100px 100px 100px;
}


/* Main content fade effects */

.beforeScroll {
    opacity: 0;
    transition: 0.7s all ease-in-out;
    transform: translateX(-30px); /* Sets the position of the element -30px to the left */
}

.beforeScrollOpp {
    opacity: 0;
    transition: 0.7s all ease-in-out;
    transform: translateX(30px); /* Sets the position of the element -30px to the left */
}

.afterScroll {
    opacity: 1;
    transform: translateX(0px); /* Repositions element where it was originally after JS adds class to it */
}

/* -- End Main conentent fade effects */

.mainContainerText {
    margin: 10px 40px 40px 40px;
}

.mainContainer h1 {
    text-align: center;
    color: rgba(31, 30, 30, 0.781);
    font-size: 50px;
}

.mainContainer p {
    color: #595959;
    font-style: italic;
    font-size: 20px;
}

/* Images in Div Containers */

.mainContainerImage-1 {
    margin-left: 35px;
    margin-right: 25px;
    width: 450px;
    height: 350px;
    border-radius: 7px;
    float: right;
    border: 5px solid rgb(255 245 0);
    box-shadow: 2px 2px 2px grey;
}

.mainContainerImage-2 {
    margin-left: 25px;
    margin-right: 35px;
    width: 450px;
    height: 350px;
    border-radius: 7px;
    float: left;
    border: 5px solid rgb(255 245 0);
    box-shadow: -2px 2px 2px grey;
}

.mainContainerImage-3 {
    margin-left: 35px;
    margin-right: 25px;
    width: 450px;
    height: 350px;
    border-radius: 7px;
    float: right;
    border: 5px solid rgb(255 245 0);
    box-shadow: 2px 2px 2px grey;
}

/* -- End Main Image Content */
/* -- End Images in Div Containers */

/* Contact Page */

.contactText {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid rgba(128, 128, 128, 0.514);
    width: 60%;
}

.contactText h1 {
    color: rgba(31, 30, 30, 0.781);
}

.contactText p {
    margin: 20px 100px 50px;
    padding-bottom: 30px;
    font-size: 20px;
    font-style: italic;
}

form {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
    background-color: #f2f2f2;
    font-size: 20px;
    margin-top: 60px;
    width: 50%;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 2px 1px 4px rgb(92, 92, 92);
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;  
  }

  input[type=submit] {
      padding: 10px;
      font-size: 15px;
      background-color: #00e600;
      border-radius: 5px;
  }

  input[type=submit]:hover {
      background-color: #01ac01;
  }


/* -- Contact Page */

/* Footer */

.footer {
    background-color: #f2f2f2;
    position: relative;
    width: 100%;
    height: 200px;
    bottom: -60px; /* Sets the footer under the above content */
    box-shadow: 0 0 7px 0 rgb(51, 51, 51);
    margin-top: 60px;
}

.footer div {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    height: 200px;
}

.address, .team, .contact-info {
/* Spacing out the footer text */
    padding: 20px;
    margin-right: 10px;
    line-height: 1.4;
}

/* -- End Footer */
