{% extends 'base.html'%}
{% block title %}
    Contact
{% endblock %}
{% block content %}

<hr class="baseBreak">

<form>
    <label for="fname">First Name</label>
    <input type="text" id="fname" placeholder="Your First Name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" placeholder="Your Last Name..">

    <label for="email">E-Mail</label>
    <input type="text" id="email" placeholder="Your email..">

    <label for="phone">Phone Number</label>
    <input type="text" id="phone" placeholder="Your phone number..">

    <label for="message">Message</label>
    <textarea id="message" name="message" rows="4" cols="50" placeholder="Your message here.."></textarea>

    <input type="submit" value="Submit">
</form>

<hr class="baseBreak">

{% endblock %}