{% extends 'base.html'%}
{% block title %}
    {{title}}
{% endblock %}
{% block content %}


<div class="bannerWrapper">
    <div class="bannerContent" id="fadeContent">
        <h1>Phoenix Air Services, INC.</h1>
        <p>
            Proudly serving our customer's since 1990
        </p>
    </div>
</div>

<hr class="baseBreak">

<div class="mainContainer" >
    <div class="ourStory" id="companyStory">
        <h1>Our Story</h1>
        <p>
            Phoenix Air Services, Inc. is a well-established, family owned and operated industrial and commercial HVAC service company.
            Phoenix Air Services was founded in 1990 by Bernie Beauchemin, and for the last 10 years, his son, Bob Beauchemin has made 
            it his life's work to provide outstanding and professional service work to Phoenix Air's many long-term clients. 
            Phoenix Air Services is able to provide superior service work to all scopes of industrial 
            and commercial businesses because we have reliable and trustworthy suppliers and subcontractors 
            we have partnered with over these last 30 years.
        </p>
    </div>

    <div class="beforeScroll" id="fadeScroller1">
        <img src="/static/images/CCE chiller finished 006.jpg" class="mainContainerImage-1" alt="">
        <h1>Lorem</h1>
        <p class="mainContainerText">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, 
            nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula 
            venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. 
            Fusce luctus vestibulum augue ut aliquet. Mauris
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, 
        </p>
    </div>

    <div class="beforeScrollOpp" id="fadeScroller2">
        <img src="/static/images/ins pumps1.JPG" class="mainContainerImage-2" alt="">
        <h1>Lorem</h1>
        <p class="mainContainerText">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, 
            nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula 
            venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. 
            Fusce luctus vestibulum augue ut aliquet. Mauris
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, 
        </p>
    </div>
    
    <div class="beforeScroll" id="fadeScroller3">
        <img src="/static/images/BESLC Chiller 002.JPG" class="mainContainerImage-3" alt="">
        <h1>Lorem</h1>
        <p class="mainContainerText">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, 
            nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula 
            venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. 
            Fusce luctus vestibulum augue ut aliquet. Mauris
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, 
        </p>
    </div>
</div>

<script src="../static/javascript/main.js"></script>

{% endblock %}